@import url(https://fonts.bunny.net/css?family=akaya-telivigala:400);

body {
  font-family: 'Akaya Telivigala';
}

h1 {
  font-size: 64px;
  margin: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.board {
    display: grid;
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: yellow;
  }
  
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 64px;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}

.cell:hover {
  background-color: yellow;
}

.button-container {
  display: flex;
  gap: 48px;
}

.button-container button {
  width: 96px;
  height: 48px;
  background-color: lightblue;
  color: black;
  border-radius: 16px;
}

.button-container button:hover {
  background-color: teal;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  background-color: lightblue;
  width: 96px;
  height: 48px;
  border-radius: 16px;
}

form button:hover {
  background-color: teal;
  color: white;
}